* {
    font-family: "Courier New", sans-serif;
}

h1 {
    background-color: black;
    color: white;
}

.blue{
    background-color: #0000ffa4;
}

.yellow {
    background-color: yellow;
    color: black;
}

img {
    width: 350px;
    height: auto;
}